name: Build MediCore Windows

on:
  push:
    branches: [main, master]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - arch: x64
            flutter-arch: x64
            vc-redist: https://aka.ms/vs/17/release/vc_redist.x64.exe
          - arch: x86
            flutter-arch: x86
            vc-redist: https://aka.ms/vs/17/release/vc_redist.x86.exe
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.0'
          channel: 'stable'

      - name: Get dependencies
        working-directory: medicore_app
        run: flutter pub get

      - name: Build Windows ${{ matrix.arch }} Release
        working-directory: medicore_app
        run: flutter build windows --release
        env:
          FLUTTER_BUILD_WINDOWS_ARCH: ${{ matrix.flutter-arch }}

      - name: Download VC++ Redistributable ${{ matrix.arch }}
        run: |
          $buildPath = "medicore_app/build/windows/${{ matrix.flutter-arch }}/runner/Release"
          Invoke-WebRequest -Uri "${{ matrix.vc-redist }}" -OutFile "$buildPath/vc_redist_${{ matrix.arch }}.exe"
        shell: powershell

      - name: Create README for ${{ matrix.arch }}
        run: |
          $buildPath = "medicore_app/build/windows/${{ matrix.flutter-arch }}/runner/Release"
          @"
          MediCore - Medical Management System
          =====================================
          Version: Windows ${{ matrix.arch }}
          Compatible: Windows 7, 8, 8.1, 10, 11
          
          IMPORTANT - FIRST TIME INSTALLATION:
          ====================================
          If you get "MSVCP140.dll is missing" error:
          1. Run vc_redist_${{ matrix.arch }}.exe FIRST (only needed once)
          2. Click "Install" and wait for completion
          3. Then run medicore_app.exe
          
          SETUP INSTRUCTIONS:
          ===================
          First time you run the app, you will choose:
          
          ADMIN (Main Computer):
          - Select this on ONE computer that has the database
          - Choose your database file (.db)
          - This computer will broadcast to the network
          
          CLIENT (Other Computers):
          - Select this on all other computers
          - Wait 5 seconds - the Admin will appear automatically
          - Click on the Admin to connect
          
          All clients will work on the same database through the network!
          
          TROUBLESHOOTING:
          ================
          - Client can't find Admin? Make sure they're on the same network
          - Firewall blocking? Allow medicore_app.exe in Windows Firewall
          - Admin not broadcasting? Restart the Admin computer
          
          Support: github.com/ilyesthen/medicore
          
          "@  | Out-File -FilePath "$buildPath/README.txt" -Encoding UTF8
        shell: powershell

      - name: Upload ${{ matrix.arch }} Build
        uses: actions/upload-artifact@v4
        with:
          name: MediCore-Windows-${{ matrix.arch }}
          path: medicore_app/build/windows/${{ matrix.flutter-arch }}/runner/Release/
